---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=EUR&payment_method_types[0]=card&customer=4
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2351fc1a-63b6-46ae-8f3c-104f8992e9b0
      Original-Request:
      - req_raxhDO0TTDcecQ
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: '4'",
            "param": "customer",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_raxhDO0TTDcecQ?t=1692305938",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 17 Aug 2023 20:59:00 GMT
recorded_with: VCR 6.2.0
